.outer-container { 
  display: flex;
  height: 2em;
  width: 12em;
  margin: 0.5rem;
  background-color: #EEE;
  border-radius: 7px;
  z-index: 50;
}

.title{
  margin:0;
  padding-top: 10px;
  margin-left: 10px;
  height: 1.8em;
  width: 9.5em;
}

.inner-container {
  display: flex;
  justify-content:center;
  align-items:center;
}

.select-button { 
  padding-top: 5px;
  border:none;
  background-color: transparent;
}

.dark {
  background-color: #444454;
  color: aliceblue;
}

.icon{
  background-color: transparent !important;
}

