.day-menu-container{
  background-color: #FFF;
  position:absolute;
  max-height:35%;
  border-radius: 3px;
  overflow-y:scroll;
  width:fit-content;
}

.day-menu-container::-webkit-scrollbar {
  background-color: #666666;
  width: 6px;
}

.day-menu-container::-webkit-scrollbar-thumb {
  background: aliceblue;
  border-radius: 10px;
  box-shadow: 0.2px 0.2px 0.2px 0.2px aliceblue
}

.day-menu-item {
  margin: 0;
  padding: 1px 5px 1px 5px;
  cursor: pointer;
}

.menu-dark{
  background-color: #666666;
}

