.modal-container { 
  position:fixed;
  top: 0;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #111111cc;
  border-radius: 5px;
  z-index: 100;
}

.modal-inner { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 600px;
  background-color: #eee;
  border-radius: 5px;
  z-index: 150;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 26px;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  margin-top: 5px;
  margin-right: 10px;
  color: white;
  padding-top:0;
}

.modal-icon {
  color: red;
  font-size: 1.5em;
}

.dark {
  background-color: #444454cc;
}

