.selection-outer{
  display: flex;
  justify-content:center;
  align-items:center;
  width: 100%;
}

.selection-inner{
  display: flex;
  justify-content:end;
  align-items:center;
  margin-left: 10px;
  cursor: default;
}

.selection-section{
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-top: 5px;
  margin-left: 5px;
}

.selection-arrow{
  border: none;
  background-color: transparent;
}

.submit{
  border: none;
  border-radius: 5px;
  height: 1.5em;
  width: 4em;
  font-size: 1.3em;
  margin: 10px;
  background-color: limegreen;
  color: aliceblue;
  box-shadow: 0.5px 0.5px 4px 0.5px #555;

}

.month { 
  width: 150px ; 
}
